body {
  font-family: Arial, sans-serif;
  background: #f4f1ed;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #004221;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #004221;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

input,
select,
button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #422100;
  color: #fff;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #6a3a00;
}

#resumenReserva,
#resultadoReserva {
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 8px;
  background: #eaf6ed;
  border: 1px solid #004221;
}

footer {
  background: #004221;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}